<% layout("/layouts/boilerplate") %>
<body>
  <div class="row mt-3">
    <div class="col-8 offset-3">
      <h3><%= listing.title %></h3>
    </div>
    <div class="card col-6 offset-3 listing-card">
      <img
        src="<%= listing.image %>"
        class="card-img-top show-img"
        alt="listing-image"
      />
      <div class="card-body">
        <p class="card-text">Owned By: 
          <i><%= listing.owner.username %></i> </p>
          <p><%= listing.description %> </p>
          <p>&#8377; <%= Number(listing.price).toLocaleString('en-IN') %> </p>
          <p><%= listing.location %> </p>
          <p><%= listing.country %></p>
      </div>
    </div>
    <br />

    <!-- Owner Deleting Method -->
    <% if (currUser && listing.owner._id.equals(currUser._id)) { %>
      <div class="btns mb-3">
        <a
          href="/listings/<%= listing._id %>/edit"
          class="btn btn-dark col-1 offset-3"
        >Edit</a>
        <form action="/listings/<%= listing._id %>?_method=DELETE" method="post">
          <button class="btn btn-dark offset-5 edit-btn">Delete</button>
        </form>
      </div>
    <% } %>

    <!-- Review Method  -->
    <div class="col-8 offset-3 mb-3">
      <h4>Leave a Review</h4>
      <hr />
      <% if (currUser) { %>
      <form
        action="/listings/<%= listing._id %>/reviews"
        method="post"
        novalidate
        class="needs-validation"
      >
        <div>
          <label for="rating">Rating</label>
          <input
            type="range"
            min="1"
            max="5"
            id="rating"
            name="review[rating]"
            class="form-range"
            required
          />
        </div>
        <div>
          <br />
          <label for="comment">Comment</label><br /><br />
          <textarea
            name="review[comment]"
            id="comment"
            cols="30"
            rows="5"
            class="form-control shadow-lg p-3 mb-5 bg-body-tertiary rounded"
            aria-label="With textarea"
            required
          ></textarea>
          <div class="invalid-feedback">Please enter a comment.</div>
        </div>
        <button class="btn btn-outline-success mb-3" type="submit">
          Submit
        </button>
      </form>
      <hr />
      <% } %>
      
      <p><b>All Reviews</b></p>
<div class="row">
  <% for (let review of listing.reviews) { %>  <!-- Change listing.review to listing.reviews -->
    <div class="card col-5 ms-3 mb-3">
      <div class="card-body">
        <h5 class="card-title mt-3">@<%= review.author.username %></h5>
        <p class="card-text"><%= review.comment %></p>
        <p class="card-text"><%= review.rating %>⭐</p>
        <form
          class="mb-3"
          method="post"
          action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE"
        >
          <button class="btn btn-danger">Delete</button>
        </form>
      </div>
    </div>
  <% } %>
</div>
    </div>
  </div>
</body>